body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(blackjack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    background-color: black;
    max-height: fit-content;

    
}


h1 {
    color: goldenrod;
}

#bots-el {
    font-style: italic;
}

button {
    color: #016f32;
    background-color: goldenrod;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 140px;
    font-weight: bold;
    margin: 4px 0 4px 0;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0px 0px 8px 0px #f4f9f8;
}

.botsqusion {
    color: goldenrod;
    font-size: 20px;
}

.loss {
    color: red;
    font-size: 20px;
}

.win {
    text-transform: capitalize;
    color: #37E2D5;
    font-size: 20px;
}

.scores {
    color: #B2C8DF;
}

@media screen and (max-width: 750px) {
    body {
        margin: 0;
        width: 100%;
        padding: 0px  10px 10px 0px;
    }

    button {
        width: 50%;
    }
}